In [3]:
import pandas as pd
import numpy as np

### Reading previous files

In [5]:
data=pd.read_excel('cars_datafinal.xlsx')
data

,Name,Price,Rating,city,Kilometers,Year_of_Purchase,Owner,Fuel_Type,Transmission,RTO,Insurance,Insurance_Type
0,2010 Maruti Alto LXI,"₹ 174,699",4out of 5,3686,"Kilometers34,854 km",Year of PurchaseMay 2010,OwnerFirst Owner,FuelPetrol,TransmissionMANUAL,RTOAP09,NaN,Insurance TypeInsurance Expired
1,2013 Maruti Wagon R 1.0 VXI,"₹ 333,999",4.2out of 5,3686,"Kilometers39,541 km",Year of PurchaseJuly 2013,OwnerSecond Owner,FuelPetrol,TransmissionMANUAL,RTOAP28,Insurance6/8/2021,Insurance TypeComp
2,2014 Maruti Wagon R 1.0 VXI,"₹ 353,199",4.3out of 5,3686,"Kilometers23,233 km",Year of PurchaseMarch 2014,OwnerSecond Owner,FuelPetrol,TransmissionMANUAL,RTOAP28,Insurance28/4/2021,Insurance TypeComp
3,2013 Hyundai Eon D LITE PLUS,"₹ 237,899",4.4out of 5,3686,"Kilometers27,748 km",Year of PurchaseNovember 2013,OwnerFirst Owner,FuelPetrol,TransmissionMANUAL,RTOAP13,Insurance1/1/2022,Insurance TypeComp
4,2017 Hyundai Eon ERA PLUS,"₹ 300,699",4.4out of 5,3686,"Kilometers12,238 km",Year of PurchaseAugust 2017,OwnerSecond Owner,FuelPetrol,TransmissionMANUAL,RTOTS10,NaN,Insurance TypeExpired
...,...,...,...,...,...,...,...,...,...,...,...,...
32153,2008 Ford Fiesta 1.6 ZXI,"₹ 150,000",3.4out of 5,769,"Kilometers95,792 km",Year of PurchaseFebruary 2008,OwnerThird Owner,FuelPetrol,TransmissionMANUAL,RTOCH04,NaN,Insurance TypeInsurance Expired
32154,2015 Chevrolet Beat LS DIESEL,"₹ 250,000",3.5out of 5,769,"Kilometers54,505 km",Year of PurchaseNovember 2015,OwnerSecond Owner,FuelDiesel,TransmissionMANUAL,RTOPB13,NaN,Insurance TypeInsurance Expired
32155,2008 Ford Endeavour XLT TDCI 4X2,"₹ 500,000",3.6out of 5,769,"Kilometers161,322 km",Year of PurchaseJanuary 2008,OwnerSecond Owner,FuelDiesel,TransmissionMANUAL,RTOHR03,NaN,Insurance TypeInsurance Expired
32156,2016 Maruti Swift Dzire VDI ABS,"₹ 600,000",4.7out of 5,769,"Kilometers52,006 km",Year of PurchaseOctober 2016,OwnerFirst Owner,FuelDiesel,NaN,RTOPB65,Insurance27/10/2019,Insurance TypeZero Depreciation
32157,2007 Mercedes Benz C Class 220 CDI AT,"₹ 484,000",3.8out of 5,769,"Kilometers88,818 km",Year of PurchaseMay 2007,OwnerSecond Owner,FuelDiesel,TransmissionAUTOMATIC,RTOPB65,Insurance28/11/2019,Insurance TypeComprehensive

## Data Cleaning and data preparation

### Cleaning Column Name

In [6]:
data['Name']=data['Name'].str.replace(r'\d','') # removing number from Name column

In [7]:
data.head()

,Name,Price,Rating,city,Kilometers,Year_of_Purchase,Owner,Fuel_Type,Transmission,RTO,Insurance,Insurance_Type
0,Maruti Alto LXI,"₹ 174,699",4out of 5,3686,"Kilometers34,854 km",Year of PurchaseMay 2010,OwnerFirst Owner,FuelPetrol,TransmissionMANUAL,RTOAP09,NaN,Insurance TypeInsurance Expired
1,Maruti Wagon R . VXI,"₹ 333,999",4.2out of 5,3686,"Kilometers39,541 km",Year of PurchaseJuly 2013,OwnerSecond Owner,FuelPetrol,TransmissionMANUAL,RTOAP28,Insurance6/8/2021,Insurance TypeComp
2,Maruti Wagon R . VXI,"₹ 353,199",4.3out of 5,3686,"Kilometers23,233 km",Year of PurchaseMarch 2014,OwnerSecond Owner,FuelPetrol,TransmissionMANUAL,RTOAP28,Insurance28/4/2021,Insurance TypeComp
3,Hyundai Eon D LITE PLUS,"₹ 237,899",4.4out of 5,3686,"Kilometers27,748 km",Year of PurchaseNovember 2013,OwnerFirst Owner,FuelPetrol,TransmissionMANUAL,RTOAP13,Insurance1/1/2022,Insurance TypeComp
4,Hyundai Eon ERA PLUS,"₹ 300,699",4.4out of 5,3686,"Kilometers12,238 km",Year of PurchaseAugust 2017,OwnerSecond Owner,FuelPetrol,TransmissionMANUAL,RTOTS10,NaN,Insurance TypeExpired

### Cleaning Column Price

In [8]:
data['Price']=data['Price'].str.replace(r'₹','').str.replace(r',','') # removing '₹' and ',' from price column
data['Price']=pd.to_numeric(data['Price'])# converting price from str to numeric

### Cleaning Column Rating

In [9]:
data['Rating']=data['Rating'].str.replace(r'out of 5','') # removing 'out of 5 ' from rating
data['Rating']=data['Rating'].str.replace(r'^4$','4.').str.replace(r'^3$','3.') # there some values containing '4$' and '3$' ,replacing them

In [31]:
data['Rating']=data['Rating'].replace(r'',5.,regex=True)
data['Rating'].value_counts()

4.2    3050
4      2846
4.1    2833
4.3    2775
3.9    2431
3.8    2131
4.4    1938
3.7    1857
4.5    1640
4.6    1556
3.6    1356
4.7    1275
4.8    1206
4.9    1176
3.5    1037
3.4     705
1       639
3.3     457
3.2     340
5       262
3.1     215
3       165
2.9      95
2.8      72
2.7      35
2.6      26
2.5      10
2.4       9
2         6
2.2       3
1.1       2
0.9       2
1.9       2
2.3       2
0.5       1
1.7       1
1.5       1
2.1       1
Name: Rating, dtype: int64

### Column City

In [11]:
city_dict={3686:'hyderabad',5732:'chennai',4709:'bengalore',777:'kolkata',2423:'pune',2378:'mumbai',290:'lucknow',1692:'ahmedabad',2130:'jaipur',769:'chandigarh'}

In [12]:
data['city']=data['city'].replace( city_dict)

### Column Kilometers

In [13]:
data['Kilometers']=data['Kilometers'].str.lstrip('Kilometers') # splitting kilometers column and removing kilometers from it
data['Kilometers']=data['Kilometers'].str.replace(r',','') # removing ','
data['Kilometers']=data['Kilometers'].str.rstrip(' km')# removing 'km'
data['Kilometers']=pd.to_numeric(data['Kilometers']) # converting them to numeric
data['Kilometers']

0         34854
1         39541
2         23233
3         27748
4         12238
          ...
32153     95792
32154     54505
32155    161322
32156     52006
32157     88818
Name: Kilometers, Length: 32158, dtype: int64

### Column  Year_of_Purchase

In [14]:
data['Year_of_Purchase']=data['Year_of_Purchase'].str.lstrip('Year of Purchase')# splitting  years column and removing 'year of purchase'
data['Year_of_Purchase']

0             May 2010
1            July 2013
2           March 2014
3        November 2013
4          August 2017
             ...
32153    February 2008
32154    November 2015
32155     January 2008
32156     October 2016
32157         May 2007
Name: Year_of_Purchase, Length: 32158, dtype: object

### Column Owner

In [15]:
data['Owner']=data['Owner'].str.strip('Owner')# splitting owner and removing owner from it
data['Owner']

0         First
1        Second
2        Second
3         First
4        Second
          ...
32153     Third
32154    Second
32155    Second
32156     First
32157    Second
Name: Owner, Length: 32158, dtype: object

### Column Fule_type

In [16]:
data['Fuel_Type']=data['Fuel_Type'].str.replace(r'Fuel','')# removing 'fuel' from it
data['Fuel_Type']

0        Petrol
1        Petrol
2        Petrol
3        Petrol
4        Petrol
          ...
32153    Petrol
32154    Diesel
32155    Diesel
32156    Diesel
32157    Diesel
Name: Fuel_Type, Length: 32158, dtype: object

### Column Transmission

In [17]:
data['Transmission']=data['Transmission'].str.replace(r'Transmission','') # 'transmission' from it
data['Transmission']

0           MANUAL
1           MANUAL
2           MANUAL
3           MANUAL
4           MANUAL
           ...
32153       MANUAL
32154       MANUAL
32155       MANUAL
32156          NaN
32157    AUTOMATIC
Name: Transmission, Length: 32158, dtype: object

### Column  Insurance

In [18]:
data['Insurance']=data['Insurance'].str.lstrip('Insurance') # splitting insurance and removing 'Insurance' from it
data['Insurance']

0               NaN
1          6/8/2021
2         28/4/2021
3          1/1/2022
4               NaN
            ...
32153           NaN
32154           NaN
32155           NaN
32156    27/10/2019
32157    28/11/2019
Name: Insurance, Length: 32158, dtype: object

### Column Insurance_type

In [19]:
data['Insurance_Type']=data['Insurance_Type'].str.replace('Insurance Type','')  # removing 'Insurance type' from it
data['Insurance_Type']

0        Insurance Expired
1                     Comp
2                     Comp
3                     Comp
4                  Expired
               ...
32153    Insurance Expired
32154    Insurance Expired
32155    Insurance Expired
32156    Zero Depreciation
32157        Comprehensive
Name: Insurance_Type, Length: 32158, dtype: object

In [20]:
# converting insurance_type to standard notation categories
data['Insurance_Type']=data['Insurance_Type'].str.replace(r'_Dep','Depreciation') 
data['Insurance_Type']=data['Insurance_Type'].str.replace(r'Zero ','Zero')
data['Insurance_Type']=data['Insurance_Type'].str.replace(r'Comp$','Comprehensive')
data['Insurance_Type']=data['Insurance_Type'].str.replace(r'3rd P','Third_p')
data['Insurance_Type']=data['Insurance_Type'].str.lstrip('Insurance ')

In [21]:
data['Insurance_Type'].value_counts()

Comprehensive       11801
Expired              9402
Third_party          6290
ZeroDepreciation     4634
Not Available          24
Normal                  5
ll                      1
NA                      1
Name: Insurance_Type, dtype: int64

In [22]:
data['Insurance_Type']=data['Insurance_Type'].str.replace('ll','').str.replace('NA','') # replacing 'l1' with nan
data['Insurance_Type'].value_counts()

Comprehensive       11801
Expired              9402
Third_party          6290
ZeroDepreciation     4634
Not Available          24
Normal                  5
                        2
Name: Insurance_Type, dtype: int64

In [26]:
data['Insurance_Type']=data['Insurance_Type'].replace(r'^\s*$',np.NaN,regex=True) # trying to look for any whitespaces from start to end

In [27]:
data['Insurance_Type'].isnull().sum()

2

### Creating new columns

In [28]:
data[['Month_of_Purchase','Year_of_Purchase']]=data.Year_of_Purchase.str.split(expand=True) # splitting year of purchase into two columns

In [ ]:
#data=data[['Name','Price','Rating','Kilometers','Month_of_Purchase','Year_of_Purchase','Owner','Fuel_Type','Transmission','RTO','Insurance','Insurance_Type']]

In [30]:
data

,Name,Price,Rating,city,Kilometers,Year_of_Purchase,Owner,Fuel_Type,Transmission,RTO,Insurance,Insurance_Type,Month_of_Purchase
0,Maruti Alto LXI,174699,4,hyderabad,34854,2010,First,Petrol,MANUAL,RTOAP09,NaN,Expired,May
1,Maruti Wagon R . VXI,333999,4.2,hyderabad,39541,2013,Second,Petrol,MANUAL,RTOAP28,6/8/2021,Comprehensive,July
2,Maruti Wagon R . VXI,353199,4.3,hyderabad,23233,2014,Second,Petrol,MANUAL,RTOAP28,28/4/2021,Comprehensive,March
3,Hyundai Eon D LITE PLUS,237899,4.4,hyderabad,27748,2013,First,Petrol,MANUAL,RTOAP13,1/1/2022,Comprehensive,November
4,Hyundai Eon ERA PLUS,300699,4.4,hyderabad,12238,2017,Second,Petrol,MANUAL,RTOTS10,NaN,Expired,August
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32153,Ford Fiesta . ZXI,150000,3.4,chandigarh,95792,2008,Third,Petrol,MANUAL,RTOCH04,NaN,Expired,February
32154,Chevrolet Beat LS DIESEL,250000,3.5,chandigarh,54505,2015,Second,Diesel,MANUAL,RTOPB13,NaN,Expired,November
32155,Ford Endeavour XLT TDCI X,500000,3.6,chandigarh,161322,2008,Second,Diesel,MANUAL,RTOHR03,NaN,Expired,January
32156,Maruti Swift Dzire VDI ABS,600000,4.7,chandigarh,52006,2016,First,Diesel,NaN,RTOPB65,27/10/2019,ZeroDepreciation,October
32157,Mercedes Benz C Class CDI AT,484000,3.8,chandigarh,88818,2007,Second,Diesel,AUTOMATIC,RTOPB65,28/11/2019,Comprehensive,May

In [33]:
data.to_csv('Cars24_data.csv') # storing final dataframe